@font-face {
	font-family: "被爱判处终身孤寂";
	src: url("被爱判处终身孤寂.ttf") format("truetyple");
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: deeppink;
}
body {
	background-image: url("bg.png");
	font-family: 被爱判处终身孤寂, 微软雅黑;
}
@media only screen and (min-width: 1000px) {
	* {
		font-size: 20px;
	}
	body {
		background-image: url("bg_desktop.jpg");
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}