/*
 * 我不好说
 */
@import url("./icons.css");

.fdo-tab {
	content: '';
	display: block;
	background: url("../images/FDOLOGO.png") left no-repeat;
	width: 1385px; height: 85px;
	background-size: contain;
}

body {
	background: url("../images/bg_freelucker.png") /* url("https://filecdn-images.xingyeai.com/image_inference_output/nebula/prod/img/2024-04-20/c06d7c14-8858-4755-a182-0758bf04faf2-1.jpeg") */ fixed top right no-repeat #d5d3d4;
}
details {
	padding: 6px;
	background-color: #233;
	border-radius: 10px;
}
details > dl {
	background-color: unset;
}
summary {
	user-select: none;
}

.noscript_background {
	width: calc(100vw);
	height: calc(100vh);
	margin-top: -8px;
	margin-left: -8px;
	position: fixed;
	background-color: #000d;
	z-index: 99;
}

div.noscript_panel {
	font-size: 145%;
	text-align: center;
	position: fixed;
	padding: 10px;
	margin-top: calc(15vh);
	margin-left: 10px;
	min-width: calc(70vw);
	color: black;
	background-color: deepskyblue;
	border-radius: 10px;
	box-shadow: 4px 4px #88f4;
	z-index: 100;
	transition: all 2s;
}

.tit {
	font-size: 140%;
}
.subtit {
	margin-top: -16px;
	font-size: 100%;
}

.tit::before, .subtit::before {
	content: "- ";
}
.tit::after, .subtit::after {
	content: " -";
}

hh {
	font-size: 135%;
	font-weight: bold;
	position: absolute;
}


.tit-img {
	margin-top: -10px;
	margin-left: -8px;
	background-color: #00000064;
	position: fixed;
	width: 100%;
	height: calc(8vh);
	z-index: 100;
}
img#fdo-logo {
	width: auto;
	height: 100%;
	cursor: pointer;
}
img.avatar {
	width: 32px;
	height: 32px;
	position: absolute;
}

dl {
	padding: 16px;
	border-radius: 10px;
	background-color: black;
	color: white;
	justify-content: center;
	transition: height 2s ease-in-out;
}
dl#outDateNews, dl#news {
	display: flex;
	flex-direction: column-reverse;
}
dl#members {
	display: flex;
	flex-wrap: wrap;
}
dl#members > dt {
	flex-basis: 50%;
	text-align: center;
}
dl#members>dt>a.button {
	margin: 10px;
}
dt {
	margin-top: 24px;
}
dt > img.avatar, dt > hh {
	margin-top: 14px;
}
dt > h2.subtit {
	margin-top: -16px;
}
dt > h1.tit, dt > h2.subtit {
	margin-left: 44px;
}
s {
	color: transparent;
	background-color: white;
	text-decoration: none;
	transition: all 1s;
}
s:hover {
	color: unset;
	background-color: unset;
}
s:hover::before {
	max-height: calc(10vh);
	box-shadow: 4px 4px #00f6;
	color: #233;
	background-color: deepskyblue;
}
s::before {
	padding: 6px;
	content: "你知道的太多了";
	position: absolute;
	color: transparent;
	background-color: transparent;
	text-align: center;
	border-radius: 10px;
	margin-top: 24px;
	max-height: 0;
	box-shadow: unset;
	transition: all 1s;
	pointer-events: none;
}

span.fold:hover>dl#outDateNews, span.fold:focus>dl#outDateNews {
	max-height: 1000px;
	opacity: 1;
}
dl#outDateNews {
	max-height: 0;
	opacity: 0;
	transition: max-height 2s, opacity 1.2s;
}

#menu {
	display: flex;
}
#text {
	color: pink;
}
#date, #time {
	font-size: 125%;
	font-weight: bold;
	color: orange;
}

a {
	color: white;
}

a.link {
	color: #ff0;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}

a.link::after {
	display: inline-block;
	color: #ff0;
	background-color: currentColor;
	content: '';
	mask-image: var(--up-right-from-square);
	background-size: contain;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}

a.button {
	display: block;
	font-size: 110%;
	text-decoration: none;
	padding: 10px;
	background-color: #ffc0cb73;
	border-radius: 10px;
	user-select: none;
	cursor: pointer;
	color: black;
	transition: all 2s;
}
a.button:hover, a.button:focus {
	background-color: deeppink;
}


a.tab-btn {
	font-size: 120%;
	text-decoration: none;
	padding: 10px;
	background-color: #036;
	border-radius: 10px 10px 0 0;
	user-select: none;
	cursor: pointer;
	margin-top: 100px;
	margin-right: 4px;
	box-shadow: 4px 0px #00000064;
	transition: background-color 1.6s;
}
a.tab-btn:hover {
	color: #036;
	background-color: #ccc;
}
a.tab-btn[pressed] {
	color: #ccc;
	background-color: #069;
	font-style: italic;
}

sidebar {
	max-height: 16px;
	padding: 16px;
	position: fixed;
	right: calc(-8vw);
	top: calc(45vh);
	background-color: #234a;
	border-radius: 10px;
	transition: all 2s;
	-webkit-user-select: none;
	user-select: none;
}
sidebar>text {
	font-size: 1.2em;
}
sidebar::before {
	content: '';
	display: inline-block;
	background-image: var(--chevron-right);
	width: 25px;
	height: 25px;
	background-size: cover;
}
sidebar:hover::before, sidebar:focus::before {
	transform: rotate(90deg);
}
sidebar:hover, sidebar:focus,
sidebar:hover>dl#sidebar>dt>a, sidebar:focus>dl#sidebar>dt>a {
	opacity: 1;
	max-height: 1000px;
	right: 0;
}
dl#sidebar {
	background-color: transparent;
}
dl#sidebar>dt>a {
	transition: all 1.2s;
	opacity: 0;
}

div.panel {
	padding: 10px;
	margin-top: -1px;
	background-color: #069;
	border-radius: 0 10px 10px;
	box-shadow: 2px 2px #00000064;
	width: calc(90.5vw);
}
div#friend > dl > dt {
	padding: 10px;
	background-color: #FF149355;
	border-radius: 10px;
	user-select: none;
	cursor: pointer;
	transition: all 1s;
}
div#friend>dl>dt:hover {
	background-color: deeppink;
}
div#friend>dl>dt>* {
	color: white;
}

line::after {
	content: " -----";
	white-space: pre;
}
line::before {
	content: "\a\a----- ";
	white-space: pre;
}

dt>info::before {
	content: "- ";
	/* 致敬旧版页面 */
}

footer {
	text-align: center;
	color: #fff;
	background-color: #11223333;
}

@media screen and (min-width: 1000px) {
	.tit-img {
		height: calc(10.5vh);
	}
	div.noscript_panel {
		min-width: unset;
	}
	div#menu, div.panel {
		margin-left: calc(2vw);
	}
	div#friend>dl>dt {
		margin: 10px;
		width: 32%;
		flex-basis: 36%;
	}
	dl#links {
		display: flex;
		flex-wrap: wrap;
	}
	dl#members > dt {
		flex-basis: 30%;
	}
	sidebar {
		right: calc(-5vw);
	}
}

html, div.panel {
	transition: background-color 0.6s;
}

/* 石山夜间模式 */
html[dark], html[dark]>body {
	color-scheme: dark;
	background-color: #181a1b !important;
	color: white;
}
html[dark]>body>*>a.tab-btn {
	background-color: #023;
}
html[dark]>body>*>a.tab-btn:hover {
	color: #fab;
	background-color: #069;
}
html[dark]>body>div.panel, html[dark]>body>*>a.tab-btn[pressed] {
	background-color: #233;
}
html[dark]>body>*>*>#date, html[dark]>body>*>*>#time {
	color: #999;
}
html[dark]>body>footer {
	color: #123;
	background-color: #ffc0cb66;
}
